@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --primary-light-cyan: hsl(193, 38%, 86%);
    --primary-neon-green: hsl(150, 100%, 66%);
    --neutral-grayish-blue: hsl(217, 19%, 38%);
    --neutral-dark-grayish-blue: hsl(217, 19%, 24%);
    --neutral-dark-blue: hsl(218, 23%, 16%);
}

* {
    margin: 0;
    padding: 0;
    font-family: manrope;
}

body {
    min-width: 100vw;
    background-color: #202632;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.Advice-section {
    background-color: var(--neutral-dark-grayish-blue);
    width: 450px;
    text-align: center;
    height: 240px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 50px;
    position: relative;
}

.Advice-section h2 {
    color: var(--primary-neon-green);
    font-size: 12px;
    letter-spacing: 3px;
}

.Advice-section q {
    color: white;
    font-size: 28px;

}

.dividerPC {
    margin-top: 20px;
    position: absolute;
    bottom: 60px;
}
.dividerMob{
    display: none;
}

main {
    position: relative;
}

button {
    background-color: var(--primary-neon-green);
    display: grid;
    place-items: center;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    bottom: -20px;
    right: 46%;
    left: auto;
}

@media (min-width:0px) and (max-width:700px) {    
    *{
        margin: 0;
        padding: 0;
    }
    .dividerMob{
        display: block;
        position: absolute;
        bottom: 60px;
        left: 17px;
        right:10px
    }
    .dividerPC{
        display: none;
    }
    .Advice-section {        
        width: 250px;
    }
    .Advice-section q {
        color: white;
        font-size: 20px;

    }

}

@media (min-width:1000px) {
    button:hover {
        box-shadow: 0px 0px 50px hsl(150, 100%, 66%);
        cursor: pointer;
    }
}